* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}


body {
    background: #F5F5F5;
}


.pudding-dashboard__header {
    position: fixed;
    top: 0;

    width: 100%;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #ebebeb;

    z-index: 10;
}

.pudding-dashboard__header img {
    width: 100px;
    height: 50px;
    margin-left: 15px;
}

body.active {
    overflow-y: hidden;
    overflow-x: hidden;
}

.navbar__link {
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 0rem 1rem;

    font-weight: 600;
    /* transition: all 250ms ease-out; */
}

.navbar__link:hover {
    color: rgba(100, 100, 196, 0.747);
    backdrop-filter: blur(3px);
    /* transition: all 250ms ease-in; */
}

.navbar__link {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    cursor: pointer;
    z-index: 99;
}

.navbar__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    top: -1000px;
    transition: .6s ease-in-out;
}

.navbar__menu.active {
    top: 100%;
    opacity: 1;
    height: calc(100vh - 60px);
    font-size: 1.5rem;
    background: #030113c2;
    backdrop-filter: blur(5px);

    z-index: 99;
}

.navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #3F4291;
    display: block;
    cursor: pointer;
    z-index: 99;
}

#mobile-menu {
    position: absolute;
    top: 15%;
    right: 5%;
    transform: translate(5%, 20%);
}

#mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;

}

#mobile-menu.is-active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);

}

#mobile-menu.is-active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);

}

.dashboard-section {
    position: fixed;
    bottom: 0;

    height: calc(100% - 60px);
    width: 100%;
}

.section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    letter-spacing: 6px;

    padding: 10px 0;
}

.search-bar {
    position: relative;
    margin: 0 10px;
}

.search-bar svg {
    position: absolute;
    top: 10px;
    left: 10px;
}

.search-bar button{
    position: absolute;
    right: 5px;
    top: 8px;
    color: #fff;
    background: #3C3939;
    padding: 5px;
    border: none;
    border-radius: 5px;

    font-size: 12px;
}

.search-bar input {
    height: 40px;
    width: 100%;

    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    padding: 0 70px 0 50px;
}

.section-cards__container {
    height: calc(100% - 81px);
    width: 100%;

    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;

    padding: 15px 10px;
    overflow: auto;
}

.section-cards__container::-webkit-scrollbar {
    width: 2px;
    border-radius: 10px;
    background: black;
}

.section-cards__container::-webkit-scrollbar-track {
    background: rgba(243, 243, 243, 0.781);
}

.section-cards__container::-webkit-thumb {
    width: rgb(32, 26, 26);
}

.section-cards__container::-webkit-scrollbar-thumb:hover {
    background: #1c1b5c;
}

.cards-wrapper {
    width: 100%;
    border: 1px solid rgb(131, 122, 122);
    border-radius: 10px;
    padding: 30px 10px;
}

.cards-wrapper p {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1.1px;
    padding: 5px 11px;
}

.cards-wrapper h4 {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 500;
    color: #4c3d3d;
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
}

.buttons-container button {
    width: 115px;

    font-size: 12px;

    color: #fff;
    background: #1c1b5c;
    border: none;
    border-radius: 5px;
    padding: 2px;
}



/* #EMPLOYEE */

.section-employee .cards-wrapper {
    display: flex;
    gap: 1.5rem;

    background: #f0f8fffc;
    border: transparent;

    box-shadow:0px 1px 13px -5px rgb(0 0 0 / 38%);
    -webkit-box-shadow: 0px 1px 13px -5px rgb(0 0 0 / 38%);
    -moz-box-shadow: 0px 1px 13px -5px rgb(0 0 0 / 38%);
}

.cards-wrapper .card-img img {
    height: 120px;
    width: 120px;

    border-radius: 50%;
}

.cards-details h5 {
    font-weight: 100;
    line-height: 2;
}


