*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


.login-page {
  height: 100vh;
  width: 100%;
  background: #030113e0;
}

.login-wrapper{
  height: 100%;

  position: relative;

  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-wrapper .image-container{
  position: relative;
  overflow: hidden;
}

.login-wrapper .logo-container{
  margin: 0 auto;
  position: relative;
}


.login-image__2{
  position: absolute;
  right: 0;
  left: 0;
} 

.login-image__3{
  position: absolute;
  width: clamp(300px, 28vw, 500px);
  right: 0;
  left: 0;
}

.login-wrapper .image-container .login-image__1{
  width: clamp(300px, 28vw, 500px);
}
.login-wrapper .image-container .login-image__2{
  width: clamp(300px, 28vw, 500px);
}

.login-btn__container button{
      font-size: 16px;
    padding: 20px;
    border: 0;
    color: white;
    background: #27A8DA;
    width: 350px;
    border-radius: 32px;
}
/*Animation*/

/*Rotate Animation*/
.bounce-top{-webkit-animation:bounce-top 5s both;animation:bounce-top 5s both}
.rotate-center{-webkit-animation:rotate-center 20s ease-in-out infinite alternate-reverse both;animation:rotate-center 30s ease infinite alternate-reverse both}
.rotate-in-center{-webkit-animation:rotate-center 20s ease-in-out infinite forwards;animation:rotate-center 20s ease-in-out infinite forwards}

@-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
@-webkit-keyframes rotate-in-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
/*Bounce Animation*/

/*animation ends here*/
.floating {
  animation: floating 2s ease-in-out infinite 1s;
}
.bounce-top{animation: floating 2s ease-in-out infinite 1s;}
@keyframes floating {

  0%,
  to {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
  }

  45% {
      -webkit-transform: translate(0, 10px);
      transform: translate(0, 10px);
  }
}


/*mobile responsiveness*/

/*iphone 4 mobile view*/
@media only screen and (width >= 320px) {

 

  .logo-container img{
    width: 250px;
    background: white;
    border-radius: 15px;
  }

  .login-btn__container button{
    width: 250px;
    padding: 12px;

    cursor: pointer;
  }

  .location-icon__1{
    position: absolute;
    top: 80px;
    left: 40px;
  }

  .location-icon__2{
    position: absolute;
    top: 27px;
    left: 201px;
  }

  .location-icon__3{
    position: absolute;
    top: 150px;
    left: 241px;
  }   
  
  .location-icon__4{
    position: absolute;
    top: 200px;
    left: 121px;
  } 
}
/* iphone 4 responsiveness ends here */